<h2>Log in to an Existing Account</h2>

<form id="login-form" action="/sessions" method="POST">
  <label for="login-username">Username:</label><br>
  <input type="text" name="username" id="login-username"><br><br>
  <label for="login-password">Password:</label><br>
  <input type="password" name="password" id="login-password"><br><br>
  <input type="submit" value="Login">
</form>