body{
  margin: 2%;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  /*background-image: url("/images/stone-background-1.jpg");*/
}

img.resize{
   max-width:75%;
   max-height:75%;
}

nav{
  text-align: right;
}

li{
  list-style-type: none;
  margin: 2px;
}


textarea{
  width:300px;
  height: 150px;
}

td{
  padding: 3px 8px;
}

.handwritten{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.8em;
}

.errors-container{
  color:red;
}

a {
  text-decoration: none;
  color:#801505
}

.page-header h1 a{
  color:#801505;
}

#logout-button{
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

#logout-form{
  display: inline;
}

#upvote-button, #downvote-button{
  font-size: 0.7em;
  padding: 0px;
  border: 0px;
}

th{
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
}

.new-char-stat{
  width: 30px;
}