<div class="page-header">
  <h1><a href="/">Dungeons & Dragons Creation App thing</h1>
  <nav>
    <% if logged_in? %>
      Welcome back, <%= current_user.username %> | 
      <form action ="/sessions/<%= current_user.id %>" method="POST" id="logout-form">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout" id="logout-button">
      </form>
    <% else%>
      <a href ="/sessions/new">Login</a> | 
      <a href="/users/new">Register</a>
    <% end %>
  </nav>
</div>