<div class="page-header">
  <h1><a href="/">Dungeons & Dragons Creation App thing</a></h1>
  <nav>
    <% if logged_in? %>
      <a href="/users/<%= current_user.id %>">Welcome back, <%= current_user.username %></a> | 
      <form action ="/sessions/<%= current_user.id %>" method="POST" id="logout-form">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout" id="logout-button">
      </form>
    <% else%>
      <a href ="/sessions/new">Login</a> | 
      <a href="/users/new">Register</a>
    <% end %>
  </nav>
</div>